body {
  background-image: url("./images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
  background-size: 340px, auto;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.album {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album__artwork {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.album__details h2 {
  margin: 0;
  font-size: 1.2em;
}

.album__artist {
  font-style: italic;
}

/* Media Query for larger screens */
@media screen and (min-width: 768px) {
  .albums {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* Media Query for screens with a width of 1080px or larger */
@media screen and (min-width: 1080px) {
  .albums {
    grid-template-columns: repeat(2, 1fr);
  }
   
}

@media screen and (min-width: 1950px) {
  .albums {
    grid-template-columns: repeat(4, 1fr);
  }
}
